@import 'vars';

body {
  @include linear-gradient(to left bottom, rgba(150,218,255,1) 0%, rgba(255,251,227,1) 100%);
  font-family: $header-font;
}

a {
  text-decoration: none;
  color: $navy;
  font-weight: 700;

  &:hover {
    color: $gray;
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  vertical-align: bottom;
}

.sass-logo {
  height: 30px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  padding: 2px;
  background: $green;
  color: $navy;
  font-size: 24px;
  margin-bottom: 55px;
}

.user {
  text-align: left;
  vertical-align: middle;
}

.profile-pic {
  width: 50px;
  height: auto;
  margin-right: 12px;
  vertical-align: middle;
}

.username {
  font-size: 18px;

}

.sorter-heading {
  cursor: pointer;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 auto;
  margin-top: 20px;
  font: 18px/1.4 'Zilla Slab', serif;
}

th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}

thead {
  font-family: $header-font;
  background: $navy;
  color: $white;
}

tbody tr {
  &:nth-child(even) {
  background: #f0f0f2;
}
  &:nth-child(odd) {
  background: $white;
  }
}

td {
  border-bottom: $border-base;
  border-right: $border-base;
  
  &:first-child {
  border-left: $border-base;
  }
}

.arrow {
  color: $dark-gray;
}

.recent{
    color: $green;
  }

  footer{
    margin-top: 25px;
    margin-bottom: 5px;
  }

